<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#25578a"/>
    <meta name="msapplication-navbutton-color" content="#25578a"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <title>Welcome to Moran Language School Kenya</title>
</head>
<body>
    <nav>
        <label class="logo">Moran</label>
        <label class="logo1">Language School Kenya</label>
        <ul id="logo">
            <li id="on"><a class="active" href="/">Home</a></li>
            <li id="on"><a href="/about">About</a></li>
            <li id="on"><a href="/courses">Courses</a></li>
            <li id="on"><a href="/lang">Language Services</a></li>
            <li><a href="javascript:void(0)" onclick="openNav()" id="menu">Menu</a></li>
        </ul>
    </nav>
    
    <div id="nav" class="overlay">
        <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&times</a>
    
        <div class="content">
            <ul id="logo">
                <li id="on"><a class="active" href="/">Home</a></li>
                <li id="on"><a href="/about">About</a></li>
                <li id="on"><a href="/courses">Courses</a></li>
                <li id="on"><a href="/lang">Language Services</a></li>
                <li><a href="/registration" style="margin-bottom:30px;">Sign Up / Login</a></li>
            </ul>
        </div>
    </div>

    <p>This is about</p>
    
</body>
</html>